[FORMAT]
max-line-length=150

[MASTER]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    multiple-statements,
    invalid-name,
    too-few-public-methods,
    too-many-locals,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-statements,
    unnecessary-lambda-assignment,
    duplicate-code
