[MASTER]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    invalid-name,
    too-few-public-methods,
    too-many-locals,
    unnecessary-lambda-assignment,
