[FORMAT]
max-line-length=130

[MASTER]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    invalid-name,
    too-few-public-methods,
    too-many-locals,
    too-many-instance-attributes,
    unnecessary-lambda-assignment,
    duplicate-code
